extends admin

block display    
    h3 Survey summary

    h4 How does doing this again, next year, sound?
    each count, feeling in nextYear
        div #{feeling}: #{count}

    each band, name in bands
        h4 #{name}
        each count, feeling in band
            div #{feeling}: #{count}
