extends admin

block append controllers
    script(src="/js/controllers/adminRsvps.js")
    script(src="/js/controllers/adminShirts.js")
    script.
        app.value('rsvps', !{JSON.stringify(rsvps)});


block display    
    div(ng-controller="AdminRsvps")

        h3 Shirts
        div(ng-controller="AdminShirts")
            .row
                .col-xs-6
                    h4 Mens
                    pre {{shirtData.crew | json}}

                .col-xs-6
                    h4 Womens
                    pre {{shirtData.womens | json}}

            each rsvp in rsvps
                if (rsvp.person.isAttending === false)
                    //- Do nothing
                else if (rsvp.shirt.want)
                    .col-sm-4.col-md-3.shirt-panel
                        .shirt-content
                            h3 #{rsvp.person.name} 
                            .clearfix #{rsvp.person.email}
                            .clearfix shirt: {{shirtType['#{rsvp._id}']}} {{shirtSize['#{rsvp._id}']}}

                            .row
                                .col-xs-6.left
                                    .btn.btn-default.form-control(
                                        ng-click="setShirtType('crew', '#{rsvp._id}')"
                                        ng-class="{ active: shirtType['#{rsvp._id}'] === 'crew' }") Mens
                                .col-xs-6.right
                                    .btn.btn-default.form-control(
                                        ng-click="setShirtType('womens', '#{rsvp._id}')"
                                        ng-class="{ active: shirtType['#{rsvp._id}'] === 'womens' }") Womens

                            .row
                                each size in ['xs', 's', 'm']
                                    .col-xs-4
                                        .btn.btn-default.form-control(
                                            ng-click="setShirtSize('#{size}', '#{rsvp._id}')"
                                            ng-class="{ active: shirtSize['#{rsvp._id}'] === '#{size}' }") #{size.toUpperCase()}

                            .row
                                each size in ['l', 'xl', '2xl']
                                    .col-xs-4 
                                        .btn.btn-default.form-control(
                                            ng-click="setShirtSize('#{size}', '#{rsvp._id}')"
                                            ng-class="{ active: shirtSize['#{rsvp._id}'] === '#{size}' }") #{size.toUpperCase()}