extends admin

block append controllers
    script(src="/js/controllers/adminRsvps.js")
    script.
        app.value('rsvps', !{JSON.stringify(rsvps)});


block display    
    div(ng-controller="AdminRsvps")
        h3 Travel

        h4 Wants a carpool
        each rsvp in rsvps
            if (rsvp.person.isAttending === false)
                //- Do nothing
            else if (rsvp.travel.carpool)
                .clearfix.rsvp-row
                    .row
                        .col-sm-3 #{rsvp.person.name}
                        .col-sm-1 &nbsp;
                        .col-sm-4 #{rsvp.person.email}
                        .col-sm-2 #{rsvp.travel.zip}

        h4 Wants to maybe be picked up from the train station
        each rsvp in rsvps
            if (rsvp.person.isAttending === false)
                //- Do nothing
            else if (rsvp.travel.train)
                .clearfix.rsvp-row
                    .row
                        .col-sm-3 #{rsvp.person.name}
                        .col-sm-1 &nbsp;
                        .col-sm-4 #{rsvp.person.email}
                        .col-sm-2 #{rsvp.travel.zip}
