extends admin

block display    
    //- div(ng-controller="AdminSurvey")
    h3 Survey results (#{surveys.length})

    each survey in surveys
        .clearfix.rsvp-row.survey-row
            .row
                .col-xs-12
                    h4 Which days did you attend?
                    ul
                        if (survey.overview.present) 
                            if (survey.overview.present.friday)
                                li Friday
                            if (survey.overview.present.saturday)
                                li Saturday                     
                            if (survey.overview.present.sunday)
                                li Sunday
                        else
                            li (None specified)

                    if (survey.overview.why)
                        h4 Why did you decide to attend?
                        pre #{survey.overview.why}

                    if (survey.overview.how)
                        h4 How did it go for you?
                        pre #{survey.overview.how}

                    if (survey.overview.share)
                        h4 Anything else we should know about?
                        pre #{survey.overview.share}

                    if (hasMusicResults(survey))
                        h4 How was the music?
                        ul.survey-music-list
                            each time, key in survey.music
                                if (time && time !== 'not-there' && getLabel(key) !== key) 
                                    li 
                                        <div class="time"><div class="face #{time}">#{getFace(time)}</div></div> #{getLabel(key)}

                        if (survey.music.moreSwing)
                            div I would have liked <strong>more swing</strong> music.

                        if (survey.music.lessSwing)
                            div I would have liked <em>less swing</em> music.

                        if (survey.music.moreBlues)
                            div I would have liked <strong>more blues</strong> music.

                        if (survey.music.lessBlues)
                            div I would have liked <em>less blues</em> music.

                    if (survey.music.djComments)
                        h4 Any comments for the DJs?
                        pre #{survey.music.djComments}

                    if (survey.music.foodComments)
                        h4 Want to say anything about the food?
                        pre #{survey.music.foodComments}

                    if (survey.music.lastWords) 
                        h4 Last words?
                        pre #{survey.music.lastWords}

