extends rsvp

block append controllers
    script(src="/js/controllers/food.js")

block form
    div(ng-controller="FoodCtrl")
        h4 Check a box, maybe?
        .diet-group
            each diet in diets
                label.checkbox.choice-group(
                    ng-click="toggle('diet.#{diet.key}')"
                    ng-class="{selected: diet.#{diet.key}}")
                    input(type="checkbox" ng-model="diet.#{diet.key}")
                    span #{diet.name}

        h4 Check the things you do not want to eat.
        .many-choice-group
            each allergy in allergies
                label.checkbox.choice-group.col-xs-6(
                    ng-click="toggle('allergies.#{allergy.key}')"
                    ng-class="{selected: allergies.#{allergy.key}}")
                    input(type="checkbox" ng-model="allergies.#{allergy.key}")
                    div #{allergy.name}

        h4 Another box.
        label.checkbox.choice-group
            input(type="checkbox" ng-model="canHaz.food")
            span I like yummy food.

        button.btn.btn-default(ng-click="next()") Onward!

