extends rsvp

block append controllers
    script(src="/js/controllers/payment.js")

block form
    div(ng-controller="PaymentCtrl")
        h3 How would you like to pay for the weekend?
            span &nbsp;
            span.label.label-danger(ng-cloak ng-show="isFrowny('payment')") :-(

        .clearfix
            .col-xs-4.btn-option
                a.btn.btn-default.form-control(
                    ng-class="{active: isPayment('paypal')}"
                    ng-click="setPayment('paypal')"
                    tabindex="1") Paypal

            .col-xs-4.btn-option
                a.btn.btn-default.form-control(
                    ng-class="{active: isPayment('check')}"
                    ng-click="setPayment('check')"
                    tabindex="1") Check

            if (rsvp.person.isResident)
                .col-xs-4.btn-option
                    a.btn.btn-default.form-control(
                        ng-class="{active: isPayment('cash')}"
                        ng-click="setPayment('cash')"
                        tabindex="1") Cash

        //- .col-xs-12.btn-option
        //-     a.btn.btn-default.form-control(
        //-         ng-class="{active: isPayment('transfer')}"
        //-         ng-click="setPayment('transfer')") Transfer from friend

        p.subtle A weekend pass is $50.

        if (rsvp.shirt.want)
            h3 Want to buy your shirt now?
            p.subtle We're still designing our shirts. Would you like to 
             | wait until you see the design, or just buy one now? They're $15.
            .clearfix
                .col-xs-6.btn-option
                    a.btn.btn-default.form-control(
                        ng-class="{active: isBuyingShirt(true)}"
                        ng-click="setBuyingShirt(true)"
                        tabindex="1") Yes, buy shirt
                .col-xs-6.btn-option
                    a.btn.btn-default.form-control(
                        ng-class="{active: isBuyingShirt(false)}"
                        ng-click="setBuyingShirt(false)"
                        tabindex="1") Maybe later 



        h3 Payment information
        p.subtle(ng-hide="payment.method")
         | Select a payment method to see details.

        .payment-info.clearfix(ng-show="payment.method")
            .paypal(ng-cloak ng-show="isPayment('paypal')")
                p To pay with Paypal:
                form#paypal-form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
                    input(type="hidden" name="cmd" value="_s-xclick")
                    input(type="hidden" name="hosted_button_id" value="AQUACQJZJ5CDQ")
                    
                    input(type="hidden" name="on0" value="Registration email") 
                    input(type="hidden" name="os0" 
                        maxlength="200"
                        value="#{rsvp.person.email}")

                    ol
                        li
                            input(type="image" 
                                src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" 
                                border="0" 
                                name="submit" 
                                alt="PayPal - The safer, easier way to pay online!") 
                        li You'll be brought back here to complete your reservation.

                    img(alt="" border="0" 
                        src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" 
                        width="1" height="1")


            .check(ng-cloak ng-show="isPayment('check')")
                p To pay with a check:
                ol
                    li 
                        div Write it out to <address class="inline">Corvallis Swing Dance Society</address>.
                    li Put your email address in the memo field.
                    li Kindly drop it off at a Corvallis swing or blues dance, at the front desk.

                    li 
                        p Or mail us at:
                        address
                         | Corvallis Swing Dance Society<br/>
                         | PO Box 2485<br/>
                         | Corvallis, OR 97339

                p You have two weeks to do this, or your reservation will be cancelled.

            if (rsvp.person.isResident)
                .cash(ng-cloak ng-show="isPayment('cash')")
                    p To pay with cash:

                    ol
                        li Put everything in an envelope with your name and email address on it.
                        li Hand it to the front desk at a swing or blues dance in Corvallis.

                    p You have two weeks to do this, or your reservation will be cancelled.
        
        h3 That's it!
        .col-xs-12.btn-option
            button.btn.btn-default.form-control.next(
                ng-click="finish()") R.S.V.P.
