extends rsvp

block append controllers
    script(src="/js/controllers/food.js")

block form
    div(ng-controller="FoodCtrl")
        h3 Check a box, maybe?
        .diet-group
            each diet in diets
                label.checkbox.choice-group(
                    ng-click="toggle('diet.#{diet.key}')"
                    ng-class="{selected: diet.#{diet.key}}")
                    input(type="checkbox" ng-model="diet.#{diet.key}")
                    span #{diet.name}

        h3 Check the things you do not want to eat.
        .many-choice-group.clearfix
            each allergy in allergies
                label.checkbox.choice-group.col-xs-6(
                    ng-click="toggle('allergies.#{allergy.key}')"
                    ng-class="{selected: allergies.#{allergy.key}}")
                    input(type="checkbox" ng-model="allergies.#{allergy.key}")
                    div #{allergy.name}

        //- TODO: Maybe put this at the choose-your-adventure
        h3 Another box.
        label.checkbox.choice-group(
            ng-click="toggle('canHaz')"
            ng-class="{selected: canHaz}")
            input(type="checkbox" ng-model="canHaz")
            div I like yummy food.
                img(src="/img/rsvp/glyphicons_209_cart_in.png")

        .row
            .text-center.col-xs-12
                button.btn.btn-default.form-control.next(
                    type="button" ng-click="next()") Onward!

