extends layout

block stylesheets
    link(rel='stylesheet', href='/css/rsvp.css')

block controllers
    script(src="/js/jQueryThings.js")
    script(src="/js/services/rsvpFlow.js")
    script(src="/js/controllers/rsvpCtrl.js")

block content
    .content(ng-controller="RsvpCtrl")
        .container
            .col-sm-offset-3.col-sm-6
                h2 Welcome!

                p You are invited to three nights of swing and blues dancing in 
                 | the heart of the Willamette Valley. 
            
            
                h3
                    label(for="name") Who are you?
                .row
                    .col-xs-11
                        input#name.form-control(type="text" 
                            placeholder="Full name" required
                            ng-model="person.name" 
                            ng-click="removeFrown('name')")
                    .col-xs-1.frown(ng-show="isFrowny('name')")
                        .label.label-danger :-(

                .row
                    .col-xs-11
                        input#email.form-control(type="email" 
                            placeholder="Email address" required
                            ng-model="person.email" 
                            ng-click="removeFrown('email')"
                            data-original-title)
                    .col-xs-1.frown(ng-show="isFrowny('email')")
                        .label.label-danger :-(

                h3.clearfix
                    label(for="role").pull-left What's your social dancing role?
                    .pull-left.text-aligned
                        .label.label-danger(ng-show="isFrowny('role')") :-(
                
                #role
                    .col-sm-4.col-xs-6.btn-role
                        a.btn.btn-default.form-control(
                            ng-class="{active: isRole('follow')}"
                            ng-click="setRole('follow')") Follow
                    
                    .col-sm-4.col-xs-6.btn-role
                        a.btn.btn-default.form-control(
                            ng-class="{active: isRole('lead')}",
                            ng-click="setRole('lead')") Lead

                    .col-sm-4.col-xs-12.btn-role
                        a.btn.btn-default.form-control(
                            ng-class="{active: isRole('both')}"
                            ng-click="setRole('both')") Both

                button.btn.btn-default.next(type="button" ng-click="next()") Next, please